.create-workspace-main{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    background-color: #1A1D21;
}

.link-box{
    padding: 6px 3px 0 3px;
}

.atras-link{
    padding: 3px;
    font-size: 15px;
    text-decoration: none;
    color: grey;
    border: grey solid 2px;
    border-radius: 15px;
    background-color: rgb(14, 36, 68);
}

.create-workspace-title{
    display: flex;
    position: fixed;
    top: 45px;
    align-items: center;
}

.title-text{
    background-color: rgb(14, 36, 68);
    color: gray;
    padding: 3px;
    border: gray solid 2px;
    border-radius: 15px;
}

.workspace-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    gap: 3px;
}

.form-box{
    padding: 100px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    border: grey solid 4px;
    margin-bottom: 50px;
}

.inputs{
    font-size: 20px;
    border: none;
    text-decoration: none;
    background-color: grey;
    border-radius: 5px;
}

.labels{
    font-size: 19px;
    color: gray;
}

.workspace-bttn{
    font-size: 20px;
    margin-top: 7%;
    border: none;
    background-color: gray;
    padding: 10px;
    border-radius: 15px;
}