.create-workspace-main{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100vw;
    height: 100vh;
    background-color: #1A1D21;
}

.link-box{
    padding: 6px 3px 0 3px;
}

.atras-link{
    padding: 5px;
    font-size: 15px;
    text-decoration: none;
    color: grey;
    border: grey solid 2px;
    border-radius: 15px;
    background-color: rgb(14, 36, 68);
}

.create-workspace-title{
    display: flex;
    position: fixed;
    top: 55px;
    align-items: center;
}

.title-text{
    font-size: 22px;
    background-color: rgb(14, 36, 68);
    color: gray;
    padding: 5px;
    border: gray solid 2px;
    border-radius: 15px;
}

.workspace-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 3px;
}

.form-box{
    position: fixed;
    top: 25vh;
    padding: 100px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    border: grey solid 4px;
    margin-bottom: 50px;
}

.inputs{
    font-size: 18px;
    width: 250px;
    color: white;
    border: gray solid 1px;
    text-decoration: none;
    background-color: rgb(14, 36, 68);
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 2px 0 2px 8px;
    outline: none;
}

.labels{
    font-size: 19px;
    color: gray;
}

.workspace-bttn{
    font-size: 20px;
    margin-top: 7%;
    border: none;
    background-color: gray;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}

@media screen and (min-width: 800px) {
    .atras-link{
        font-size: 20px;
        margin: 10px 0 0 10px;
    }

    .title-text{
        font-size: 30px;
        width: 65vw;
        text-align: center;
    }

    .form-box{
        width: 75vw;
    }

    .labels{
        font-size: 25px;
    }

    .inputs{
        font-size: 18px;
        width: 50vw;
    }
}

@media screen and (min-width: 1400px) {
    .atras-link{
        font-size: 25px;
        margin: 10px 0 0 10px;
    }

    .title-text{
        font-size: 40px;
        width: 65vw;
        text-align: center;
    }

    .form-box{
        width: 75vw;
    }

    .labels{
        font-size: 35px;
    }

    .inputs{
        font-size: 22px;
        width: 50vw;
    }

    .workspace-bttn{
        font-size: 28px;
    }
}

@media screen and (min-width: 1800px) {
    .atras-link{
        font-size: 35px;
        margin: 10px 0 0 10px;
    }

    .title-text{
        font-size: 53px;
        width: 65vw;
        text-align: center;
    }

    .form-box{
        width: 75vw;
    }

    .labels{
        font-size: 42px;
    }

    .inputs{
        font-size: 28px;
        width: 50vw;
    }

    .workspace-bttn{
        font-size: 35px;
    }
}