.workspace-form{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position: fixed;
    bottom: 70px;
    left: 5px;
    gap: 3px;
}

.inputs{
    font-size: 12px;
    border: none;
    text-decoration: none;
    background-color: grey;
    border-radius: 5px;
}

.labels{
    font-size: 15px;
    color: gray;
}

.workspace-bttn{
    font-size: 12px;
    margin-top: 2px;
    border: none;
    background-color: gray;
    padding: 3px;
    border-radius: 15px;
}