.channel-screen{
    display: flex;
    flex-direction: column;
    background-color: #1A1D21;
    min-height: 100vh;
    max-height: 100%;
}

.channel-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 2px 15px 15px;
    border-bottom: grey solid 2px;
    margin-bottom: 5px;
}

.workspace-title{
    font-size: 20px;
    color: grey;
}

.icons{
    display: flex;
    flex-direction: row;
    padding-top: 4px;
    align-items: center;
}

.icon-home{
    color: grey;
    font-size: 23px;
}

.channel-title{
    display: flex;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 18px;
    color: gray;
}

.chat-container{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-bottom: 5px;
    height: 80vh;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(14, 36, 68);
    border: rgba(128, 128, 128, 0.452) solid 0.5px;
    border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #55555573;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #55555573;
}