.message-form{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 11vh;
    justify-content: center;
    align-items: center;
    background-color: none;
    position: fixed;
    border-top: grey solid 3px;
    padding: 15px 0px;
    background-color: #1A1D21;
    bottom: 0;
    gap: 10px;
}

body{
    overflow-x: hidden;
}

.text-input{
    background-color: rgb(14, 36, 68);
    border-radius: 15px;
    width: 70%;
    border: rgba(128, 128, 128, 0.315) solid 2px;
    padding: 10px;
    color: white;
    outline: none;
}

.text-submit-bttn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: rgba(128, 128, 128, 0.315) solid 2px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(14, 36, 68);
    color: rgb(192, 188, 188);
    cursor: pointer;
}

.send-arrow{
    color: grey;
    font-size: 20px;
}

@media screen and (min-width: 800px) {
    .text-input{
        font-size: 16px;
    }

}

@media screen and (min-width: 1400px) {
    .text-input{
        font-size: 18px;
    }

    .send-arrow{
        font-size: 25px;
    }
}

@media screen and (min-width: 1800px) {
    .text-input{
        font-size: 25px;
    }

    .send-arrow{
        font-size: 35px;
    }
}